
/* cyrillic-ext */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/OpenSans-Regular.ttf') format('truetype');
}

html,
body {
    font-family: 'Open Sans', sans-serif !important;
}

#contents-data-form input,
#contents-data-form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #979797;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0;
}

#contents-data-form .ui.search.dropdown.placeholder-padding input {
     padding-left: 1em;
}
#contents-data-form input:focus {
    border-bottom: 1px solid #007AFF;
}

#contents-data-form textarea:focus {
    border-bottom: 1px solid #007AFF;
}

.form-fields-except-image .field {
    margin-bottom: 20px!important;
}

.form-fields-except-image .field input,
{
    padding: 0.339054em 1.07692308em!important;
    font-size: 12px!important;
}

.ui.form .field>label,
.form-fields-except-image .field input,
.form-fields-except-image .field textarea {
    
}

.ui.form .field>label {
    font-size: .82857143em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 .28571429rem 0;
    color: #979797;    
}

.form-fields-except-image {
    width: calc(100% - 120px)!important;
}

@media only screen and (max-width: 1048px) {
    .form-fields-except-image,
    #contents-pane>.ui.form .fields>.eight.wide.field {
        width: calc(100% - 120px)!important;
    }
}

.book-image-container {
    height: 100px;
    width: 100px;
    border: 0.2px solid rgba(192, 192, 192, 0.39);
    position: relative;
}

.book-image-container i,
.book-image-container img {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

.book-image-container img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    display: inline-block;
}

.book-image-container:hover {
    cursor: pointer;
}

.book-image-container:hover i {
    color: black;
}

.book-image-field {
    width: 116px!important;
    min-width: 116px!important;
    max-width: 116px!important;
}

.metadata-form-container {
    margin-top: 0;
    border-radius: 0;
    height: 100%!important;
}

.metacontent-wrapper {
    height: 100%;
}

#contents-data-form,
#read-metadata-wrapper {
    border-radius: 0;
    height: 90%;
    border: none!important;
    box-shadow: none!important;
    padding-left: 0!important;
    overflow-y: auto;
    margin-top: 0!important;
}

#contents-data-form::-webkit-scrollbar,
#read-metadata-wrapper::-webkit-scrollbar,
#read-metadata-wrapper .item .content .description::-webkit-scrollbar {
    width: 0!important;
}

#headerSegment {
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;
    border-right: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0.1em;
    /*margin-left: -1em;*/
    z-index: 1;
}

#headerSegment .ui.breadcrumb {
    /*background: #f5f5f5;*/
    font-weight: 600;
    padding: 12px;
    padding-left: 1.2em;
    width: 100%;
    font-size: 0.9rem;
}

#headerSegment .ui.breadcrumb>.active.section {
    color: #777;
    font-weight: initial;
}

#headerSegment h3 {
    color: rgba(0, 0, 0, 0.7)!important;
    left: 0;
    padding-left: 1vw;
}

.button-overrides {   
    padding: 0.85em 1.5em!important;
    text-transform: none!important;
    border-radius: .25rem!important;
}

.right-float {
    position: relative;
    float: right;
}

#save-button,
#update-button {
    margin-right: 0;
}

#add-lesson-button:hover,
#remove-no-button:hover {
    background: #317bca!important;
    color: #fff!important;
}

#read-metadata-wrapper .ui.items {
    height: 30%!important;
    margin-bottom: 0!important;
    
}

#read-metadata-wrapper .item,
#read-metadata-wrapper .item .content {
    height: 100%!important;
}

#read-metadata-wrapper .item .content .description {
    height: 55%;
    overflow-y: hidden;
}

#read-metadata-wrapper .item .content .description #descriptionPara {
    max-width: 95%;
    max-height: 90%;
    display: inline-block;
    overflow: auto;
}

.info-item {
    padding-right: 2vw;
}

.meta-keywords .ng-token-field input{
    position: absolute;
    width: 25% !important;
}

.ui.form .fields.form-fields-overflow {
    max-height: 82vh;
    overflow-y: auto;
    padding-bottom: 10px;
}

.ui.breadcrumb a{
    color: #007aff;
 }

.ui.selection.dropdown {
    border: 1px solid #979797;
}

 .ui.multiple.search.dropdown.border-bottom-only {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #979797;
    padding-left: 0px;
 }

.ui.multiple.search.dropdown.border-bottom-only> i.dropdown.icon {
    display: none;
 }

 .ui.breadcrumb .divider {
    color:#007aff;
    font-size: 1rem;
    vertical-align: middle;
 }

 .padding-none {
    padding:0 !important;    
 }

 .margin-bottom-0 {
    margin-bottom: 0 !important;
 }

 .margin-left {
    margin-left: 0.88rem !important;
 }

.ui.form .error {
    border-color: red !important;
}

.left-margin-9px{
    margin-left: -9px !important;
}
