{
    "extends": "standard",
    "globals": {
      "org": true,
      "CryptoJS": true,
      "_": true,
      "$": true,
      "angular": true,
      "ecEditor": true,
      "EkTelemetry": true,
      "ServiceConstants": true,
      "alert": true,
      "Class": true,
      "jQuery": true,
      "UUID": true,
      "describe": true,
      "jasmine": true,
      "afterAll": true,
      "beforeAll": true,
      "it": true,
      "spyOn": true,
      "expect": true,
      "xit": true
    },
    "rules": {
      "indent": [2, "tab"],
      "no-tabs": 0,
      "no-throw-literal": "error"
    }
  }